body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f4f8;
    color: #333333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: opacity 0.5s ease-in-out;
}

body.fade-out {
    opacity: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #002147;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

header h1 {
    color: #ffffff;
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
